<div class="ui grid">
  <div class="ui one wide column"></div>
  <div class="ui thirteen wide column">
    <div class="ui cards">
      <% @posts.each do |post| %>
        <div class="ui fluid card">
          <div class="content">
            <div class="header"> By - <%= post.user_id %> </div>
            <div class="meta">Friend</div>
            <div class="segment card-subtitle">
              <div class="ui sub header"> <%= post.title %> </div>
              <div class="description no-decoration">
                <%= post.summary %> 
              </div>
            </div>
          </div>
          <div class="segment left aligned delete-button">
            <div class="ui grey button">
              <%= link_to "Edit Post", post_path(id: post.id) %>
            </div>
            <div class="ui red button">
              <%= link_to "Delete Post", post_path(id: post.id), method: :delete %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="ui two wide column"></div>
</div>

