<div class="ui grid">
  <div class="four wide column"></div>
  <div class="eight wide column">
    <%= form_with model: @post, class: "ui form" do |f| %>
      <%= f.hidden_field :id, value: @post.id %>
      <div class="field">
        <label>Title</label>
        <%= f.text_field :title, placeholder: "Post title" %>
      </div>
      <div class="field">
        <label>Summary</label>
        <%= f.text_field :summary, placeholder: "A brief summary (optional)" %>
      </div>
      <div class="field">
        <label>Post content</label>
        <%= f.text_area :description %>
      </div>
      <div class="field">
        <div class="segment">
          <%= f.check_box :public %>
          <label>Make my post public</label>
      </div>
      </div>
      <%= f.submit "Edit post", class: "ui button" %>
      <%= link_to "Delete post", post_path(id: @post.id), method: :delete,
       class: "ui red button" %>
    <% end %>
  </div>
  <div class="four wide column"></div>
</div>